{
  "extends": ["airbnb", "airbnb/hooks"],
  "env": {
    "browser": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "max-len": "off",
    "indent":["warn", 2],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(warn|error|info|trace|table)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  }
}
